@model Abundance_Nk.Web.Areas.Admin.ViewModels.DisplayMessageViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    @if (TempData["Message"] != null)
    {
        @Html.Partial("_Message", (Abundance_Nk.Model.Model.Message)TempData["Message"]);
    }
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"> Edit Display Message</h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
        @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>DisplayMessage</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.DisplayMessage.Id)

                <div class="form-group">
                    @Html.LabelFor(model => model.DisplayMessage.Message, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DisplayMessage.Message, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DisplayMessage.Message, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DisplayMessage.Activated, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.DisplayMessage.Activated)
                            @Html.ValidationMessageFor(model => model.DisplayMessage.Activated, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Update" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
        </div>
    </div>