@model Abundance_Nk.Web.Areas.Admin.ViewModels.StudentCourseRegistrationViewModel
@{
    ViewBag.Title = "ManageDeferment";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/Scripts/jquery-1.11.1.min.js"></script>
<script>
    $(document).ready(function () {
        $('#semesterDiv').hide();
        $('#StudentDeferementLog_Rusticated').change(function () {
            if ($('#StudentDeferementLog_Rusticated').prop('checked')) {
                $('#semesterDiv').show();
            } else {
                $('#semesterDiv').hide();
            }
        });
    });
</script>


<div class="col-md-8 ml-auto mr-auto">
    <div class="card card-shadow">

        <div class="card-header"><h2>Add Deferments / Rustication</h2></div>

        <div class="card-body">

            <div class="row">

                @using (Html.BeginForm("ManageDeferment", "StudentCourseRegistration", new { area = "Admin" }, FormMethod.Post))
                {

                  <div class="row">
                      <div class="col-md-12">
                          <div class="form-group">
                              @Html.LabelFor(model => model.Student.MatricNumber, new { @class = "col-sm-12 control-label " })
                              <div class="col-sm-12">
                                  @Html.TextBoxFor(model => model.Student.MatricNumber, new { @class = "form-control", @required = "required", @placeholder = "Please enter student's matric number" })
                              </div>
                          </div>
                      </div>


                      <div class="col-md-12">
                          <div class="form-group">

                              <div class="col-sm-12">
                                  <input class="btn btn-success" type="submit" name="submit" id="submit" value="Submit" />
                              </div>
                          </div>
                      </div>


                      <div class="col-md-12">
                          @if (TempData["Message"] != null)
                          {
                              @Html.Partial("_Message", (Abundance_Nk.Model.Model.Message)TempData["Message"])
                          }
                      </div>

                  </div>
                }
                @if (Model.StudentDeferementLog.Student != null && Model.StudentDeferementLog.Student.Id > 0)
                {
                    using (Html.BeginForm("AddDeferment", "StudentCourseRegistration", new { area = "Admin" }, FormMethod.Post))
                    {
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3>Student Details</h3>
                            </div>
                            @Html.HiddenFor(model => model.StudentDeferementLog.Student.Id)


                            <div class="panel-body">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.StudentDeferementLog.Student.FullName, new { @class = "col-sm-12 control-label " })
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(model => model.StudentDeferementLog.Student.FullName, new { @class = "form-control", @disabled = "disabled", @placeholder = "Please enter student's matric number" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.StudentDeferementLog.Session.Name, "Session", new { @class = "col-sm-12 control-label " })
                                    <div class="col-sm-10">
                                        @Html.DropDownListFor(model => model.StudentDeferementLog.Session.Id, (IEnumerable<SelectListItem>)ViewBag.SessionId, new { @class = "form-control" })
                                    </div>
                                </div>



                                <div class="form-group">
                                    @Html.LabelFor(model => model.StudentDeferementLog.Rusticated, new { @class = "col-sm-12 control-label " })
                                    <div class="col-sm-10">
                                        @Html.CheckBoxFor(model => model.StudentDeferementLog.Rusticated, new { @class = "form-control" })
                                    </div>
                                </div>

                                <div class="form-group" id="semesterDiv">
                                    @Html.LabelFor(model => model.StudentDeferementLog.Semester, new { @class = "col-sm-12 control-label " })
                                    <div class="col-sm-10">
                                        @Html.DropDownListFor(model => model.StudentDeferementLog.Semester.Id, (IEnumerable<SelectListItem>)ViewBag.SemesterId, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group" id="semesterDiv">
                                    <div class="col-sm-10">
                                        <input class="btn btn-success form-control" type="submit" name="submit" id="submit" value="Submit" />
                                    </div>
                                </div>

                            </div>
                        </div>
                    }
                }
            </div>

        </div>
    </div>
</div>
