@model Abundance_Nk.Web.Areas.Applicant.ViewModels.TranscriptViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="col-md-12">

            <div>
                @if (TempData["Message"] != null)
                {
                    @Html.Partial("_Message", (Abundance_Nk.Model.Model.Message)TempData["Message"])
                }
            </div>

            <div class="panel panel-default">
                <div class="panel-heading panel-dark-head">
                    @if (Model.RequestType == null)
                    {
                        <h4>
                            Transcript Requests
                        </h4>
                    }
                    @if (Model.RequestType == "Certificate Collection")
                    {
                        <h4>
                            Certificate Collection Requests
                        </h4>
                    }
                    @if (Model.RequestType == "Transcript Verification")
                    {
                        <h4>
                            Transcript Verification Requests
                        </h4>
                    }
                    @if (Model.RequestType == "Certificate Verification")
                    {
                        <h4>
                            Certificate Verification Requests
                        </h4>
                    }
                    @if (Model.RequestType == "Convocation Fee")
                    {
                        <h4>
                            Convocation Fee payments
                        </h4>
                    }
                </div>
                <div class="panel-body">
                    <div class="col-md-12">

                        @if (Model.RequestType == "Convocation Fee")
                        {
                            <table class="table table-bordered table-hover table-striped">
                                <tr>
                                    <th>Name</th>
                                    <th>Reg. NO</th>
                                    <th>Invoice Date</th>
                                    <th>Payment</th>
                                    <th></th>
                                </tr>

                                @for (int i = 0; i < @Model.TranscriptRequests.Count; i++)
                                {
                                    <tr>
                                        <td>@Model.TranscriptRequests[i].student.FullName</td>
                                        <td>@Model.TranscriptRequests[i].student.MatricNumber</td>
                                        <td>@Model.TranscriptRequests[i].DateRequested</td>
                                        @if (Model.TranscriptRequests[i].payment != null)
                                        {
                                        <td> Yes </td>}
                                        else
                                        {
                                        <td> No </td> }
                                        @if (Model.TranscriptRequests[i].payment != null)
                                        {
                                            <td>@Html.ActionLink("Continue", "TranscriptPayment", new { tid = @Model.TranscriptRequests[i].Id }, new { @class = "btn btn-success" })</td>
                                        }
                                        else
                                        {
                                            <td>@Html.ActionLink("Make Payment", "TranscriptPayment", new { tid = @Model.TranscriptRequests[i].Id }, new { @class = "btn btn-success" })</td>
                                        }

                                    </tr>
                                }

                            </table>
                        }
                        else
                        {
                            <table class="table table-bordered table-hover table-striped">
                                <tr>
                                    <th>Name</th>
                                    <th>Reg. NO</th>
                                    <th>Date Requested</th>
                                    <th>Dest. Address</th>
                                    <th>Dest. State</th>
                                    <th>Dest. Country</th>
                                    @*<th>Delivery Region</th>*@
                                    <th>Payment</th>
                                    <th></th>
                                </tr>

                                @for (int i = 0; i < @Model.TranscriptRequests.Count; i++)
                                {
                                    <tr>
                                        <td>@Model.TranscriptRequests[i].student.FullName</td>
                                        <td>@Model.TranscriptRequests[i].student.MatricNumber</td>
                                        <td>@Model.TranscriptRequests[i].DateRequested</td>
                                        <td>@Model.TranscriptRequests[i].DestinationAddress</td>
                                        @if (Model.TranscriptRequests[i].DestinationState != null)
                                        {
                                            <td>@Model.TranscriptRequests[i].DestinationState.Name</td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }

                                        @if (Model.TranscriptRequests[i].DestinationCountry != null)
                                        {
                                            <td>@Model.TranscriptRequests[i].DestinationCountry.CountryName</td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }

                                        
                                        @*<td>@Model.TranscriptRequests[i].TranscriptRegion.Region</td>*@
                                        @if (Model.TranscriptRequests[i].payment != null)
                                        {
                                        <td> Yes </td>}
                                        else
                                        {
                                        <td> No </td> }
                                        @if (Model.TranscriptRequests[i].payment != null)
                                        {
                                            <td>
                                                @Html.ActionLink("Continue", "TranscriptPayment", new { tid = @Model.TranscriptRequests[i].Id }, new { @class = "btn btn-success" }) &nbsp;
                                                @Html.ActionLink("Print Receipt", "Receipt", new { area = "Common", controller = "Credential", pmid = @Model.TranscriptRequests[i].payment.Id }, new { @class = "btn btn-success", target = "_blank" }) &nbsp;
                                            </td>
                                        }
                                        else
                                        {
                                            <td>@Html.ActionLink("Make Payment", "TranscriptPayment", new { tid = @Model.TranscriptRequests[i].Id }, new { @class = "btn btn-success" })</td>
                                        }

                                    </tr>
                                }

                            </table>
                        }

                        <br/> 
                        <div class="col-md-12">
                            @Html.ActionLink("Make Request", "Request", new { sid = @Model.TranscriptRequests.FirstOrDefault().student.Id,isNew=true }, new { @class = "btn btn-success" })
                        </div>

                    </div>
                </div>
            </div>

</div>


