@model Abundance_Nk.Web.Areas.Admin.ViewModels.ClearanceViewModel

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Verified Applicants";
}

@section Scripts {
    @Scripts.Render("~/bundles/jquery")


    <script type="text/javascript">


        $(document).ready(function () {
            $("#load").hide();

            $('#verificationTable').DataTable();

            $("#Programme").change(function () {

                $("#Department").empty();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetDepartments", "StudentCourseRegistration")', // Calling json method
                    dataType: 'json',
                    data: { id: $("#Programme").val() },
                    // Get Selected Country ID.
                    success: function (departments) {
                        $("#Department").append('<option value="' + 0 + '">' +
                            '-- Select Department --' + '</option>');
                        $.each(departments, function (i, department) {
                            $("#Department").append('<option value="' + department.Value + '">' +
                                department.Text + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Failed to retrieve departments.' + ex);
                    }
                });
                return false;
            });

        });

        function buttonClick() {
            $("#load").show();
        }

    </script>
}

<div class="col-md-10 ml-auto mr-auto">

    @if (TempData["Message"] != null)
    {
        <div>
            @Html.Partial("_Message", (Abundance_Nk.Model.Model.Message)TempData["Message"])
        </div>
    }

    @using (Html.BeginForm("VerifiedApplicantByProgrammeDepartment", "Clearance", FormMethod.Post))
    {
        <div class="card card-shadow">
            <div class="card-header">
                <h3>View Verified Applicants</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Session.Name, "Session", new { @class = "col-sm-12 control-label " })
                            <div class="col-sm-12">
                                @Html.DropDownListFor(model => model.Session.Id, (IEnumerable<SelectListItem>)ViewBag.Sessions, new { @class = "form-control", @id = "Session", @required = "required" })
                                @Html.ValidationMessageFor(model => model.Session.Id, null, new { @class = "text-danger" })
                            </div>

                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Programme.Name, "Programme", new { @class = "col-sm-12 control-label " })
                            <div class="col-sm-12">
                                @Html.DropDownListFor(model => model.Programme.Id, (IEnumerable<SelectListItem>)ViewBag.Programmes, new { @class = "form-control", @id = "Programme", @required = "required" })
                                @Html.ValidationMessageFor(model => model.Programme.Id, null, new { @class = "text-danger" })
                            </div>

                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Department.Name, "Department", new { @class = "col-sm-12 control-label " })
                            <div class="col-sm-12">
                                @Html.DropDownListFor(model => model.Department.Id, (IEnumerable<SelectListItem>)ViewBag.Departments, new { @class = "form-control", @id = "Department", @required = "required" })
                                @Html.ValidationMessageFor(model => model.Department.Id, null, new { @class = "text-danger" })
                            </div>

                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-sm-12"></div>
                            <div class="col-sm-12">
                                <input class="btn btn-success mr5" onclick="buttonClick()" type="submit" name="submit" id="submit" value="Submit" />
                                <span id="load"><img src="@Url.Content("~/Content/Images/bx_loader.gif")" /></span>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    }

    <div class="card card-default">
        <div class="card-body table-responsive">
            @if (Model.AdmissionLists != null && Model.AdmissionLists.Count > 0)
            {
                <table id="verificationTable">
                    <thead>
                        <tr>
                            <th class="custom-text-black">
                                Name
                            </th>
                            <th class="custom-text-black">
                                Application Form
                            </th>
                            <th>
                                Verification Status
                            </th>
                            <th>
                                Verification Comment
                            </th>
                            <th>
                                Verification Officer
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.AdmissionLists.Count; i++)
                        {
                        <tr>
                            <td class="custom-text-black">
                                @Html.DisplayFor(model => model.AdmissionLists[i].Form.Person.FullName)
                            </td>
                            <td class="custom-text-black">
                                @Html.DisplayFor(model => model.AdmissionLists[i].Form.Number)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.AdmissionLists[i].Form.VerificationStatus)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.AdmissionLists[i].Form.VerificationComment)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.AdmissionLists[i].Form.VerificationOfficer.Username)
                            </td>
                        </tr>
                        }
                    </tbody>

                </table>
            }
        </div>
    </div>



</div>
