@model Abundance_Nk.Model.Model.AdmissionLetter
@using GridMvc.Html
@{
    Layout = null;
}


<script src="~/Scripts/jquery-1.11.1.min.js"></script>
<script src="~/Scripts/jquery-migrate-1.2.1.min.js"></script>
<link href="~/Content/pretty-menu.css" rel="stylesheet" />
<script src="~/Scripts/prettify.js"></script>
<script src="~/Scripts/custom.js"></script>

<div class="container">

    <div class="card card-shadow p-3">


        <div class="row">
            <div class="col-md-12">
                <table>
                    <thead>
                       
                        <tr>
                            <th style="text-align:center;">

                                <table class="table table-borderless col-md-12 text-center">
                                    <tr class="text-center">
                                        <td style="width: 20%"></td>
                                        <td style="padding-left:220px; text-align: center;">
                                            <img src="@Url.Content("~/Content/Images/school_logo.jpg")" alt="" width="70" />
                                            <h6><strong>THE FEDERAL POLYTECHNIC, ILARO</strong></h6>
                                            <p>
                                                P.M.B. 50, ILARO, OGUN STATE, NIGERIA.
                                            </p>

                                            <div style="text-align:center; font-weight: bold; text-transform: uppercase;">office of the registrar</div>

                                        </td>
                                        
                                        <td style="width: 20%; padding-right:7px; text-align: right;">
                                            <img src="@Url.Content(Model.Person.ImageFileUrl)" alt="" width="150" />
                                        </td>
                                    </tr>
                                </table>

                                <div class="col-md-12">
                                    <div class="row pull-left text-center">

                                        <div class="col-md-12 p-0">
                                            <b>Telephone:</b> 01-7733940, &nbsp; &nbsp;Email:</b> admissions@federalpolyilaro.edu.ng @*BSC, PGDPA, MPA, MITD, ACIPM*@ <br>
                                            <b style="color: red"><i>Registrar:</i></b> <b>MRS. A. F. OSORE - <small>B.ED, M.ED, FCBAN, MNIM, MCASSON</small></b>
                                        </div>
                                    </div>
                                </div>

                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>
                                <div class="col-md-12 pull-left" style="padding-left:0px;">
                                    <p class="text-uppercase">OUR REF: R/SEC/AD/IV/12</p>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Dear @Model.Person.FullName,
                            </td>
                        </tr>

                        <tr>

                            <td>
                                @if (Model.Programme.Id == 7)
                                {
                                    <h6 class="sectitle"><strong>OFFER OF PROVISIONAL ADMISSION FOR A THREE-MONTHS  @Model.Programme.Description.ToUpper()  PROGRAMME  IN @Model.Session.Name  SESSION</strong> </h6>
                                }
                                else
                                {
                                    <h6 class="sectitle"><strong>OFFER OF PROVISIONAL ADMISSION FOR A TWO-YEAR  @Model.Programme.Description.ToUpper()  PROGRAMME  IN @Model.Session.Name  SESSION</strong> </h6>

                                }
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="col-md-12 text-justify" style="text-align: justify;     font-size: 12px;">

                                    <p>


                                        @if (Model.Programme.Id == 2 || Model.Programme.Id == 4)
                                        {
                                        <p>
                                            I am pleased to offer you provisional admission into the Federal Polytechnic, Ilaro for the @Model.Session.Name Session for a two-year
                                            <strong>Part-Time  @Model.ProgrammeType </strong> Programme (Six (6) Semesters) in <strong> @Model.Department.Name  </strong>in the <strong>
                                                @Model.Department.Faculty.Name.
                                            </strong>
                                            The offer is subject to your meeting the requirements for the programme.
                                        </p>
                                    }
                                    else if (Model.Programme.Id == 7)
                                    {
                                        <p>
                                            I am pleased to offer you provisional admission into the Federal Polytechnic, Ilaro for the @Model.Session.Name Session for a Three Months
                                            <strong>Part-Time  @Model.ProgrammeType </strong> Programme in <strong> @Model.Programme.Name  </strong>in the Department of<strong>
                                                @Model.Department.Name
                                            </strong> in the <strong> School of Part-Time Studies.</strong>
                                            The offer is subject to your meeting the requirements for the programme.
                                        </p>
                                    }
                                    else
                                    {
                                        <p>
                                            I am pleased to offer you provisional admission into the Federal Polytechnic, Ilaro for the @Model.Session.Name Session for a two-year
                                            <strong>Full-Time  @Model.ProgrammeType </strong> Programme in <strong> @Model.Department.Name  </strong>in the <strong>
                                                @Model.Department.Faculty.Name.
                                            </strong>
                                            The offer is subject to your meeting the requirements for the programme.
                                        </p>
                                    }

                                        <p>
                                            During Registration, you will be required to upload your credentials, submit copies of your certificates and other evidence of your academic attainments to authenticate your qualification for admission.
                                            If it is at anytime discovered that you did not fully meet the requirements for admission into your course of study in the Institution, at the time you were offered admission, this offer of Provisional Admission would be withdrawn immediately.  Additionally, your violation of any of the Institution’s rules and regulations, including the terms and conditions in any affidavit sworn to, can cause this offer to be withdrawn.
                                        </p>
                                        <p>

                                            This offer of Provisional Admission is also subject to payment of the prescribed Acceptance Fee within two (2) weeks of the release of Admission list and printing of the Acceptance letter. Kindly note that the offer of Admission will automatically lapse after the two weeks.

                                        </p>
                                        <p>
                                            You are required to submit the following with your student's file to the School Officer of your School on completion of your online registration:
                                        </p>
                                        @if (Model.Programme.Id == 7)
                                        {
                                            <p>
                                                <ol>

                                                    <li>
                                                        Three (3) photocopies of each of your SSCE/GCE O’ Level results, Drivers Licence and any other
                                                        certificates/credentials. These would be examined; failure to produce them would lead to your offer of Provisional
                                                        Admission being nullified.
                                                    </li>
                                                    <li>
                                                        Passport-size photographs of your Next of Kin / guardian with their/his /her phone number(s) at the back of such
                                                        photographs.
                                                    </li>
                                                    <li>
                                                        A Letter of Recommendation/Testimonial from your former school/Head of Department or a person of reputable
                                                        standing in the society who can vouch for your good behaviour.
                                                    </li>


                                                </ol>
                                            </p>
                                        }
                                        else
                                        {
                                            <p>
                                                <ol>

                                                    <li>    Three (3) photocopies of each of your SSCE/GCE O’ Level results and any other certificates/credentials.  These would be examined; failure to produce them would lead to your offer of Provisional Admission being nullified.</li>
                                                    <li>    Six (6) recent passport size photographs of yourself with your names, maximum of three names (surname first in block letters) written on the reverse–side of the photographs.</li>
                                                    <li>    Passport-size photographs of both parents and/or a guardian with their/his /her phone number(s) at the back of such photographs.</li>
                                                    <li>    A Letter of Recommendation/Testimonial from your former school/Head of Department or a person of reputable standing in the society who can vouch for your good behaviour.</li>
                                                    <li>    Letter of confirmation of State of Origin issued by the Secretary of your Local Government.

                                                </ol>
                                                The Medical Centre of the Institution shall make arrangement for your test of Medical fitness.
                                            </p>
                                        }
                                        @if (Model.Programme.Id == 7)
                                        {
                                            //Do nothing
                                        }
                                        else
                                        {
                                            <p>
                                                Please note that limited number of Accommodation/welfare services would be available to some fresh students for the @Model.Session.Name session.
                                                This will be allocated on first come, first served basis.  Students who are allocated hostel spaces would be expected to provide their own mattresses and linen etc.
                                                Those who do not secure hostel accommodation or do not wish to live in the hostels would be required to make their own private arrangements to live off-campus.
                                                In case you are allocated accommodation in the hostel, you would be required to pay for such accommodation, hostel welfare services and abide by the rules governing the hostels.
                                            </p>
                                            <p>
                                                On the commencement of classes, your Head of Department will acquaint you with the materials, and equipments which you may be required to provide for your use during the session.
                                                The use of laboratory/workshop overalls is compulsory for students in the Schools of Applied Science, Environmental Studies and Engineering, so students are expected to provide them for their own use.
                                            </p>
                                        }


                                        @if (Model.ProgrammeType == "Higher National Diploma")
                                        {
                                            <p>
                                                As a Higher National Diploma Student, you are also advised to possess your personal laptop to enable you utilize fully the Institution’s e-learning facilities.
                                            </p>
                                        }
                                        <p>
                                            Students who are undergoing disciplinary procedures for any act of misconduct are not expected to apply or be admitted into the Institution. Individuals who had at any time been expelled
                                            from the Federal Polytechnic, Ilaro for any act of misconduct are not expected to be admitted into the Institution. If at any time, it is discovered that an admitted student had been
                                            expelled from the Institution previously, or was undergoing disciplinary procedures during the process of admission, such individual will be summarily expelled from the Institution.
                                        </p>
                                        <p>
                                            Please note that the Polytechnic takes no responsibility for non-receipt of this letter which is expected to be printed from the Polytechnic’s Portal.
                                        </p>
                                        <p>
                                            I look forward to welcoming you to the Polytechnic.
                                        </p>
                                        <p>
                                            Yours sincerely
                                        </p>
                                        <p>
                                            <img src=@Url.Content("~/Content/Images/Registrar_signature.jpg") alt="" style="max-height:50px" />
                                            <br />
                                            <strong>A. F. OSORE(MRS)</strong>  <br />
                                            <strong><i> Registrar</i></strong>  <br />

                                        </p>
                                    </div>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>



        </div>

    </div>