
@using Abundance_Nk.Web.Models
@model Abundance_Nk.Model.Model.Receipt
@{
    ViewBag.Title = "ClearanceReceipt";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayoutPrint.cshtml";
}



<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/style.default.css" rel="stylesheet" />
<link href="~/Content/misc.css" rel="stylesheet" />

@section Scripts {
    @Scripts.Render("~/bundles/jquery")

    <script type="text/javascript">
        $(document).ready(function () {
            $("#aPrint").on('click', function () {
                $(".printable").print();
                return false;
            });

        });

    </script>
}
<style>
    label, em {
        display: block !important;
        font-size: .9em;
    }

    .imgBg {
        background: url('/Content/Images/ilaroredesign.png');
        background-size: contain !important;
        background-repeat: repeat !important;
    }

    .card-header {
        background: transparent
    }

    .card {
        border: none;
        background: rgba(255, 255, 255, 0.636);
    }

    .form-group {
        margin: 0px !important;
    }

    .form-control:disabled, .form-control[readonly], form-control {
        background: transparent;
        border-radius: 0px !important;
    }

    .card {
        background: rgba(255, 255, 255, 0.43);
    } 

    @@media print {


        * {
          
            -webkit-print-color-adjust: exact;
            margin:0px !important;
        }

        a[href]:after {
            content: none !important;
        }

        .imgBg {
            height: 96vh;
        }

        .card {
            height: 96vh !important;
            background: rgba(255, 255, 255, 0.43);
        } 
        
        #aPrint {
            display: none;
        }

        td {
            padding-top: 15px !important;
        }

        .trlast{
            padding-top: 70px !important;
        } 
        
        table {
            margin-top: 60px;
        }

        .HeadingPrint {
            padding-top: 7px !important;
        }
}
</style>
<div class="printable">
    <div class="toolbar hidden-print col-md-12">
       <div class="col-md-10 mt-3 mb-2">
           <div class="text-right">
               <button id="aPrint" class="btn btn-info"><i class="fa fa-print"></i> Print</button>
               @*<button><i class="fa fa-file-pdf-o"></i> Export as PDF</button>*@
               @*<button  class="btn btn-info" id="cmd">generate PDF</button>*@
           </div>
       </div>
       
    </div>
    <div class="col-md-8 p-0 ml-auto mr-auto imgBg" id="content">
        <div class="card card-shadow" style=" padding:15px;">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <td style="text-align: center;">
                            <div class="card-header" style="border:none !important;">
                                <div class="col-md-12" style="text-align: center;">
                                    <img src="~/Content/Images/school_logo.jpg" data-holder-rendered="true" height="60" />
                                </div>

                            </div>
                        </td>
                    </tr>
                    <tr class="row bg-success" style="margin: 0px -15px 0 -15px; ">
                     
                        <td style="text-align: center; width: 100%;">
                            <h4 class="text-center" style="text-align:center; width: 100%; margin-bottom: 1px;">THE FEDERAL POLYTECHNIC, ILARO  </h4>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5 style="text-align: center;">STUDENT CLEARANCE FORM</h5>
                        </td>
                    </tr>


                </thead>

                <tbody>
                    <tr>
                        <td>

                            <table>
                               
                                <tbody>
                                            <tr>
                                                <td style="text-align: left;">
                                                    <span>This is to certify that student with the details</span><br /><br />
                                                    <div class="HeadingPrint" style="margin-bottom:0px;"> <b>Name:</b> @Model.Name</div>
                                                    <div class="HeadingPrint" style="margin-bottom:0px;"><b>Matric No:</b> @Model.MatricNumber</div>
                                                    <div class="HeadingPrint" style="margin-bottom:0px;"> <b>Department:</b>  @Model.Department</div>
                                                    <div class="HeadingPrint" style="text-align: left; margin-bottom:0px;"><b>Programme:</b> @Model.Programme</div>
                                                    <br />
                                                    <span>
                                                        has successfully been cleared in the underlisted units and is eligible
                                                        to obtain any requested document(s).
                                                    </span>
                                                </td>

                                            </tr>
                                </tbody>
                            </table>

                        </td>

                    </tr>





                    <table class="table table-hover" style="width: 100%;">
                        <thead style="width: 100%;">
                            <tr style="width: 100%;">
                                <th style="text-align:left;">
                                    Unit
                                </th>

                                <th style="text-align:center;">
                                    Clearance Officer
                                </th>

                                <th style="text-align:center;">
                                    Date Cleared
                                </th>
                            </tr>
                        </thead>

                        <tbody>

                            @if (Model.Bursar != null)
                            {



                                <tr>
                                    <td>Bursary</td>
                                    <td style="text-align:center;">@Html.TextBoxFor(model => model.Bursar.Name, new { @class = "form-control", @readonly = "readonly", @style = "width: 98%; text-align:center;  padding: 4px; background: transparent; border:none;" })</td>
                                    <td style="text-align:center;">@Html.TextBoxFor(model => model.Bursar.Date, new { @class = "form-control", @readonly = "readonly", @style = "width: 90%; text-align:center;  padding: 4px; background: transparent; border:none;" })</td>
                                </tr>



                            }


                            @if (Model.DepartmentClearance != null)
                            {
                                <tr>
                                    <td>
                                        Department
                                    </td>

                                    <td style="text-align:center;">
                                        @Html.TextBoxFor(model => model.DepartmentClearance.Name, new { @class = "form-control", @readonly = "readonly", @style = "width: 98%; padding: 4px; text-align:center;  background: transparent; border:none;" })
                                    </td>

                                    <td style="text-align:center;">
                                        @Html.TextBoxFor(model => model.DepartmentClearance.Date, new { @class = "form-control", @readonly = "readonly", @style = "width: 90%; padding: 4px; text-align:center;  background: transparent; border:none;" })
                                    </td>
                                </tr>
                            }


                            @if (Model.Librarian != null)
                            {
                                <tr>

                                    <td>
                                        Library
                                    </td>

                                    <td style="text-align:center;">
                                        @Html.TextBoxFor(model => model.Librarian.Name, new { @class = "form-control", @readonly = "readonly", @style = "width: 98%; padding: 4px; text-align:center;   background: transparent; border:none;" })


                                    </td>
                                    <td style="text-align:center;">
                                        @Html.TextBoxFor(model => model.Librarian.Date, new { @class = "form-control", @readonly = "readonly", @style = "width: 90%; padding: 4px; text-align:center;  background: transparent; border:none;" })


                                    </td>
                                </tr>
                            }

                            @if (Model.StudentAffair != null)
                            {
                                <tr>
                                    <td>Student Affairs</td>
                                    <td style="text-align:center;">
                                        @Html.TextBoxFor(model => model.StudentAffair.Name, new { @class = "form-control", @readonly = "readonly", @style = "width: 98%; padding: 4px; text-align:center;  background: transparent; border:none;" })
                                    </td>
                                    <td style="text-align:center;">
                                        @Html.TextBoxFor(model => model.StudentAffair.Date, new { @class = "form-control", @readonly = "readonly", @style = "width: 90%; padding: 4px; text-align:center;  background: transparent; border:none;" })
                                    </td>
                                </tr>
                            }





                            @if (Model.Health != null)
                            {


                                <tr>
                                    <td>
                                        Health Centre
                                    </td>
                                    <td style="text-align:center;">
                                        @Html.TextBoxFor(model => model.Health.Name, new { @class = "form-control", @readonly = "readonly", @style = "width: 98%; padding: 4px; text-align:center;  background: transparent; border:none;" })
                                    </td>
                                    <td style="text-align:center;">
                                        @Html.TextBoxFor(model => model.Health.Date, new { @class = "form-control", @readonly = "readonly", @style = "width: 90%; padding: 4px; text-align:center;  background: transparent; border:none; " })
                                    </td>
                                </tr>




                            }

                            <tr class="trlast">
                                <td>
                                    @if (Model.barcodeImageUrl != null)
                                    {
                                        <div class="col-md-12 trlast text-left" style="height:" 50"">
                                            @Html.GenerateQrCode(Model.barcodeImageUrl)

                                        </div>


                                    }
                                </td>

                                <td colspan="6" class="trlast" style="text-align: right; padding-top: 30px;">
                                    <input type="text" class="form-control" disabled style="background: transparent; border: none; border-bottom: 1px solid #f2f2f2;" /><br />
                                    <span style="font-size: 15px;" class="text-center">Registrar Signature Date &amp; Stamp</span>
                                </td>
                            </tr>

                        </tbody>
                    </table>



                </tbody>

            </table>

            <div class="col-md-12" style="text-align: right;">
                Powered By <img src="~/Content/Images/lloydant.png" style="height:30px;" />
            </div>


        </div>
    </div>
    </div>
    <div id="editor"></div>


<script type="text/javascript" src="~/Content/js/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.2.61/jspdf.min.js"></script>
<script type="text/javascript">
    //$(document).ready(function () {
    //    $('#printReceipt').click(function () {
    //        Popup($('.receipt')[0].outerHTML);
    //        function Popup(data) {
    //            window.print();
    //            return true;
    //        }
    //    });
      //});
    var doc = new jsPDF();
    var specialElementHandlers = {
        '#editor': function (element, renderer) {
            return true;
        }
    };

    $('#cmd').click(function () {
        doc.fromHTML($('#content').html(), 15, 15, {
            'width': 170,
            'elementHandlers': specialElementHandlers
        });
        doc.save('sample-file.pdf');
    });


</script>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

