@model Abundance_Nk.Web.Models.ManageUserViewModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-7 ml-auto mr-auto">
    <div class="card card-shadow">


        @using (Html.BeginForm())
            {
            @Html.AntiForgeryToken()
            <div class="card-header"><h3>Change Password</h3></div>

            <div class="card-body">
               

                <div class="form-horizontal custom-text-black">
                    <div class="row">

                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(model => model.Username)

                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.OldPassword, new { @class = "control-label col-md-12" })
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.OldPassword, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.OldPassword)
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.NewPassword, new { @class = "control-label col-md-12" })
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.NewPassword, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.NewPassword)
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ConfirmPassword, new { @class = "control-label col-md-12" })
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.ConfirmPassword, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Save" class="btn btn-success" />
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-12">
                        <div>
                            @Html.ActionLink("Back to Home", "Home", new { @class = "btn btn-secondary" })
                        </div>
                    </div>

                    </div>
            </div>

        }
    </div>

    </div>




