

@model Abundance_Nk.Web.Areas.Admin.ViewModels.ELearningViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/Scripts/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="~/Scripts/file-upload/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="~/Scripts/file-upload/jquery-ui-1.9.2.min.js"></script>
<script type="text/javascript" src="~/Scripts/file-upload/jquery.fileupload-ui.js"></script>
<script type="text/javascript" src="~/Scripts/file-upload/jquery.fileupload.js"></script>
<script type="text/javascript" src="~/Scripts/file-upload/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.print.js"></script>

<script type="text/javascript">
    var jqXHRData;
    $(document).ready(function () {

        $("#divDepartmentOption").hide();
        $("#AdmissionListDetail_Form_ProgrammeFee_Programme_Id").change(function () {

            $("#AdmissionListDetail_Deprtment_Id").empty();

            var selectedProgramme = $("#AdmissionListDetail_Form_ProgrammeFee_Programme_Id").val();
            var programme = $("#AdmissionListDetail_Form_ProgrammeFee_Programme_Id").val();

            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetDepartmentByProgrammeId")', // we are calling json method
                dataType: 'json',
                data: { id: programme },
                success: function (departments) {
                    $("#AdmissionListDetail_Deprtment_Id").append('<option value="' + 0 + '"> -- Select -- </option>');

                    $.each(departments, function (i, department) {
                        $("#AdmissionListDetail_Deprtment_Id").append('<option value="' + department.Value + '">' + department.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve departments.' + ex);
                }
            });
        });



        //Load Department Option
        $("#AdmissionListDetail_Deprtment_Id").change(function () {

            var department = $("#AdmissionListDetail_Deprtment_Id").val();
            var programme = $("#AdmissionListDetail_Form_ProgrammeFee_Programme_Id").val();

            $("#AdmissionListDetail_DepartmentOption_Id").empty();

            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetDepartmentOptionByDepartment")', // we are calling json method
                dataType: 'json',
                data: { id: department, programmeid: programme },
                success: function (departmentOptions) {
                    //$("#hfDepartmentOptionExist").val(departmentOptions[0]);

                    if (departmentOptions == "" || departmentOptions == null || departmentOptions == undefined) {
                        $("#divDepartmentOption").hide();
                    }
                    else {
                        $("#AdmissionListDetail_DepartmentOption_Id").append('<option value="' + 0 + '"> -- Select -- </option>');
                        $.each(departmentOptions, function (i, Option) {
                            $("#AdmissionListDetail_DepartmentOption_Id").append('<option value="' + Option.Value + '">' + Option.Text + '</option>');
                        });
                        if (programme > 2) {
                            $("#divDepartmentOption").show();
                        }

                    }
                },
                error: function (ex) {
                    alert('Failed to retrieve department Options.' + ex);
                }
            });

        })


})
</script>



<div class="alert alert-success fade in nomargin">
    <h3>@ViewBag.Title</h3>
</div>


<div class="col-md-10 ml-auto mr-auto" style="height: 81vh;">
    <div class="card card-shadow">
        <div class="card-header">
            <h4>NBTE Student Enrolment Records</h4>
        </div>


        <div class="card-body">

            <div class="col-md-12">
                @if (TempData["Message"] != null)
                {
                    @Html.Partial("_Message", (Abundance_Nk.Model.Model.Message)TempData["Message"])
                }

                @using (Html.BeginForm("NBTEStudentEnrolmentRecords", "ELearning", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    <div class="col-md-12">
                        <div class="form-group">
                            <cite><p class="custom-text-black"> This interface presents a comprehensive list of students enrolled under the NBTE ODFel Programme</p></cite>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Session.Id, new { @class = "control-label custom-text-black" })
                                @Html.DropDownListFor(model => model.Session.Id, (IEnumerable<SelectListItem>)ViewBag.Session, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Session.Id, null, new { @class = "text-danger" })
                            </div>
                        </div>

                       

                    </div>


                   
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <i class="glyphicon-upload"></i><input class="btn btn-primary mr5" type="submit" name="submit" id="submit" value="View List" />
                            </div>
                        </div>


                    </div>


                }

            </div>

            @if (Model == null || Model.OdFelStudentList == null) { return; }

            @if (Model != null && Model.OdFelStudentList != null)
            {

                <div class="col-md-12">

                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>SN</th>
                                <th>Fullname</th>
                                <th>Matric Number</th>
                                <th>Programme</th>
                                <th>Department</th>


                            </tr>
                        </thead>
                        <tbody style="color:black;">
                            @*<tr>
                                <td>1</td>
                                <td>Godspeed Miracle</td>
                                <td>HND/23/2021</td>
                            </tr>*@
                            @for (var itemIndex = 0; itemIndex < Model.OdFelStudentList.Count; itemIndex++)
                            {
                            <tr>
                                @{ int N = 0;}
                                <td>@{ N = itemIndex + 1; } @N</td>
                                <td>@Html.DisplayTextFor(m => m.OdFelStudentList[itemIndex].FullName)</td>
                                <td>@Html.DisplayTextFor(m => m.OdFelStudentList[itemIndex].Matric_Number)</td>
                                <td>@Html.DisplayTextFor(m => m.OdFelStudentList[itemIndex].Programme_Name)</td>
                                <td>@Html.DisplayTextFor(m => m.OdFelStudentList[itemIndex].Department_Name)</td>

                            </tr>
                            }

                        </tbody>
                    </table>

                </div>


            }

        </div>


    </div>
</div>
