@model Abundance_Nk.Web.Areas.Admin.ViewModels.SupportViewModel
@{
    ViewBag.Title = "Application Form Summary";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section Scripts {
    @Scripts.Render("~/bundles/jquery")

    <link href="~/Scripts/DataTables-1.10.15/media/css/jquery.dataTables.css" rel="stylesheet" />
    <script src="~/Scripts/DataTables-1.10.15/media/js/jquery.dataTables.js"></script>
    <link href="~/Scripts/DataTables-1.10.15/extensions/Buttons/css/buttons.dataTables.css" rel="stylesheet" />
    <script src="~/Scripts/DataTables-1.10.15/extensions/Buttons/js/dataTables.buttons.js"></script>
    <script src="~/Scripts/DataTables-1.10.15/extensions/Buttons/js/buttons.colVis.js"></script>
    <script src="~/Scripts/DataTables-1.10.15/extensions/Responsive/js/dataTables.responsive.js"></script>

    <script src="~/Scripts/DataTables-1.10.15/buttons.flash.min.js"></script>
    <script src="~/Scripts/DataTables-1.10.15/buttons.html5.min.js"></script>
    <script src="~/Scripts/DataTables-1.10.15/buttons.print.min.js"></script>
    <script src="~/Scripts/DataTables-1.10.15/jszip.min.js"></script>
    <script src="~/Scripts/DataTables-1.10.15/pdfmake.min.js"></script>
    <script src="~/Scripts/DataTables-1.10.15/vfs_fonts.js"></script>

    <link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <link href="~/Content/jquery-ui-1.10.3.css" rel="stylesheet" />
    <script src="~/Scripts/file-upload/jquery-ui-1.9.2.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            

            $('#tableSummary').DataTable({
                //order: [[3, 'asc']],
                dom: 'Bfrtip',
                buttons: [
                       {
                           extend: 'print',
                           exportOptions: {
                               columns: [0, 1, 2, 3, 4, 5],
                               modifier: {
                                   orientation: 'landscape'
                               }
                           },
                           header: true,
                           orientation: 'landscape',
                           customize: function (doc) {
                               doc.defaultStyle.fontSize = 8; //<-- set fontsize to 16 instead of 10
                           },
                           title: 'Application Form Summary',
                           
                       },
                        {
                            extend: 'excel',
                            exportOptions: {
                                columns: [0, 1, 2, 3, 4, 5],
                                modifier: {
                                    orientation: 'landscape'
                                }
                            },
                            header: true,
                            orientation: 'landscape',
                            customize: function (doc) {
                                doc.defaultStyle.fontSize = 8; //<-- set fontsize to 16 instead of 10
                            },
                            title: 'Application Form Summary',
                            
                        },
                    {
                        extend: 'pdfHtml5',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5],
                            modifier: {
                                orientation: 'landscape'
                            }
                        },
                        header: true,
                        orientation: 'landscape',
                        customize: function (doc) {
                            doc.defaultStyle.fontSize = 8; //<-- set fontsize to 16 instead of 10
                        },
                        title: 'Application Form Summary',
                        
                    },
                    'colvis'
                ],
                columnDefs: [{
                    targets: [5],
                    visible: true,
                    "searchable": false
                }]
            });

            $("#aPrint").on('click', function () {
                $(".printable").print();
                return false;
            });
        });



    </script>
}


<div>
    @if (TempData["Message"] != null)
    {
        @Html.Partial("_Message", TempData["Message"])
    }
</div>

<div class="container" style="width: 100% !important; font-size: 12px">
    <div class="panel panel-default">
        <div class="panel-body">


            @if (Model.ApplicationCountSummaryList != null && Model.ApplicationCountSummaryList.Count > 0)
            {
            <h2> Application Form Summary</h2>

                <div class="table-responsive">
                    <table id="table-request" class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th colspan="4">Application Form Summary For @Model.ApplicationCountSummaryList.FirstOrDefault().SessionName between @Model.ApplicationCountSummaryList.FirstOrDefault().DateRange</th>
                            </tr>
                            <tr>
                                <th>SN</th>
                                <th>Programme</th>
                                <th>Count</th>
                                <th>Total Amount</th>
                                
                                
                               
                            </tr>
                        </thead>
                        <tbody style="color: black;">
                            @for (int i = 0; i < Model.ApplicationCountSummaryList.Count; i++)
                            {
                                var sn = i + 1;
                                <tr>
                                    <td>@sn</td>
                                    <td>@Model.ApplicationCountSummaryList[i].ProgrammeName.ToUpper()</td>
                                    <td>@Model.ApplicationCountSummaryList[i].FormCount</td>
                                    <td>@Model.ApplicationCountSummaryList[i].Amount</td>
                      

                                </tr>
                            }

                        </tbody>
                    </table>

                </div>
            }
        </div>
    </div>

</div>
