@model Abundance_Nk.Web.Areas.Admin.ViewModels.SupportViewModel
@{
    ViewBag.Title = "ResetCourseRegistration";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


@if (TempData["Message"] != null)
{
    @Html.Partial("_Message", (Abundance_Nk.Model.Model.Message)TempData["Message"])
}


<div class="col-md-10 mr-auto ml-auto">

            <div class="card card-shadow">
                <div class="card-header">
                    <h3>Course Resgistration Reset</h3>
                </div>
                <div class="card-body">



                    @using (Html.BeginForm("ResetCourseRegistration", "Support", new { area = "Admin" }, FormMethod.Post))
                    {
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.studentModel.MatricNumber, "Matric Number", htmlAttributes: new { @class = "control-label col-md-12" })
                                    <div class="col-md-12">
                                        @Html.TextBoxFor(model => model.studentModel.MatricNumber, new { @class = "form-control", @placeholder = "Enter Matric Number" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Session.Name, "Session", htmlAttributes: new { @class = "control-label col-md-12" })
                                    <div class="col-md-12">
                                        @Html.DropDownListFor(model => model.Session.Id, (IEnumerable<SelectListItem>)ViewBag.Session, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Reset" class="btn btn-success mr5" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    }



                </div>

            </div>


</div>
