@model Abundance_Nk.Model.Model.ComplaintLog

@{
    ViewBag.Title = "Complain";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Resolve</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
       
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MobileNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.MobileNumber)
                @Html.ValidationMessageFor(model => model.MobileNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ApplicationNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.ApplicationNumber)
                @Html.ValidationMessageFor(model => model.ApplicationNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RRR, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.RRR)
                @Html.ValidationMessageFor(model => model.RRR)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ExamNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.ExamNumber)
                @Html.ValidationMessageFor(model => model.ExamNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmationNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.ConfirmationNumber)
                @Html.ValidationMessageFor(model => model.ConfirmationNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Complain, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Complain)
                @Html.ValidationMessageFor(model => model.Complain)
            </div>
        </div>      

        <div class="form-group">
            @Html.LabelFor(model => model.DateSubmitted, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.DateSubmitted)
                @Html.ValidationMessageFor(model => model.DateSubmitted)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TicketID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.TicketID)
                @Html.ValidationMessageFor(model => model.TicketID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Comment, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Comment, new { @class = "form-control", @placeholder = "e.g Enter Comment" })
                @Html.ValidationMessageFor(model => model.Comment)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Status)
                @Html.ValidationMessageFor(model => model.Status)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "View")
</div>
